@font-face {
    font-family: 'Noto_Sans';
    src: url("NotoSans-Regular.ttf");
}
@font-face {
    font-family: 'Noto_Bold';
    src: url("NotoSans-Bold.ttf");
}

body{
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Noto_Sans;
}
header{
    font-family: Noto_Bold;
}
code{
    font-family: Noto_Sans;
}
.content_navigation
{
display: flex;
align-items: center;
justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section
  {
text-decoration: none;
  }
  .section_title
  {
    text-decoration: underline;
  }
  
